{% extends "base.html" %}
    {% load static %}
	{% block content %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">

    	<!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="box_1620">
				<div class="banner_inner d-flex align-items-center">
					<div class="container">
						<div class="banner_content text-center">
							<h2>List Vehicles by Brand</h2>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        <!-- Start Align Area -->
        <div class="whole-wrap">
            <div class="container">
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <h3 class="mb-30 title_color">Brand</h3>

                                <div class="input-group-icon mt-10">
                                    <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                    <div class="form-select">
                                        <select name="vehicle_brand" id="vehicle_brand">
                                            {% for b in brands %}
                                                <option value="{{b.id}}" >{{b.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="mt-10">
                                    <input type="button" id="search" value="Search">
                                </div>
                        </div>
                    </div>
                </div>
                <div class="section-top-border">
                    <div class="progress-table-wrap">
                        <table id="vehicles" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th data-data="license_plate">License Plate</th>
                                    <th data-data="brand_name">Brand</th>
                                    <th data-data="type_name">Type</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
        <script src="{% static 'js/list_vehicles_by_brand_report.js' %}"></script>

    {% endblock %}
