{% extends "base.html" %}
	{% load static %}
    {% block content %}

    	<!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="box_1620">
				<div class="banner_inner d-flex align-items-center">
					<div class="container">
						<div class="banner_content text-center">
							<h2>Register Vehicle</h2>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

			<!-- Start Align Area -->
			<div class="whole-wrap">
				<div class="container">
					<div class="section-top-border">
						<div class="row">
							<div class="col-lg-8 col-md-8">
								<h3 class="mb-30 title_color">Datos Vehiculo</h3>
								<form action="register_vehicle" method="POST">{% csrf_token %}
									<div class="mt-10">
										<input type="text" pattern=".{6}" title="La placa debe tener 6 caracteres" id="license_plate" name="license_plate" placeholder="License Plate" onfocus="this.placeholder = ''" onblur="this.placeholder = 'License Plate'" required class="single-input">
										<br>
										<label id="error_message"></label>
									</div>
									<div class="input-group-icon mt-10">
										<div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
										<div class="form-select" id="brand">
											<select>
                                                {% for vb in vehicle_brands %}
													<option value="{{vb.id}}" >{{vb.name}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="input-group-icon mt-10">
										<div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
										<div class="form-select" id="type">
											<select>
                                                {% for vt in vehicle_types %}
													<option value="{{vt.id}}" >{{vt.name}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="mt-10">
										<input type="submit" value="Submit" class="genric-btn success">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<script src="{% static 'js/register_vehicle.js' %}"></script>
    {% endblock %}

